/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

body {
    
}

#hosts-list {

}

.centered {   
            margin-top: 25%;
}
#init-notification { 
    padding-top: 7%;
    text-align: center;
}

#nagplot-host-search { 
    float: right;
    padding-top: 20px;
}
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*
	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}
*/

}

